<% layout("/layouts/boilerplate") %>

<div style="margin-top: 1rem !important; margin-bottom: 1.5rem !important;">
  <% if(!currUser){ %>
  <p style="background-color: rgb(0, 0, 0); height: 50px !important; border-radius: 3rem; " class=" alert alert-success alert-dismissible fade show col-10 offset-1 mt-2 d-flex justify-content-center align-items-center" role="alert"> <a  href="/signup"> <button  style=" border: none; font-size: 17px; margin-left: 1.5rem !important;" class="btn  ms-5" > <b style="color: rgb(255, 255, 255);">Get Started!</b></button></a></p>
 <% } %>  
</div>
  

<!-- <h3 style="text-align: center;">All Listings</h3> -->
<!-- <form action="/lisitng/new" method="GET">
<a href="/listings/new"><button>Create New Listing</button></a>
</form> -->


<div>

</div>
 
<div class="row row-cols-lg-6 row-cols-md-3 row-cols-sm-1">
     <% for(let listing of  allListings) { %>
<a  class="card-a" href="/listings/<%= listing._id %>">        
<div class=" card lisitng-card" style="width: 13rem">


  <img src="<%=listing.image.url%>" class="card-img" alt="listing_image" style="height: 13rem;"/>

  <div class="card-img-overlay"></div>


  <div style="font-size:85%;" class="card-body">
    <p class="card-text">
       <b><%=listing.title %></b> <br>
          &#8377; <%= listing.price.toLocaleString("en-IN")%>/night  
    </p>
  </div> 
</div>

</a>
<% } %>
</div>

